{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": [
        "jsx-a11y"
    ],
    "rules": {
        "eqeqeq": 2,
        "no-unused-vars": 2,
        "no-mixed-operators": "off",
        "jsx-a11y/href-no-hash": "off",
        "react/prop-types": "off",
        "prettier/prettier": [
            "error",
            {
              "printWidth": 80,
              "trailingComma": "es5",
              "semi": true
            }
        ],
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}

