$main-blue: #0C6291; 
$light-blue: #88CCF1;
$blue-white: #C1DFF0;
$dark-blue: #2F323A;
$grey: #616163;
$light-grey: #E5E5E5;
$main-font: 'Helvetica';
$big-font: 64px;
$medium-font: 32px;
$small-font: 16px;
$background-dark: rgb(48, 53, 58);